.bg-primary {
  background-color: #f4511e;
}

.line-list {
  list-style-type: none;
  background-color: #f8f9fa;
  padding: 20px;
}

.line-header {
  font-size: 1.1rem;
  font-weight: 600;
}

.line-time {
  font-size: 1.1rem;
  color: #2e7d32;
}

.contact-list {
  list-style-type: none;
  padding: 0px;
}

.recent-stations {
  margin-top: 1rem;
}

#consent-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem 8rem;
  background-color: #20c997;
  color: #fff;
  transition: opacity 1s ease;
}

#consent-popup.hidden {
  opacity: 0;
}
